@charset "utf-8";

//设置页面中广泛运用的样式
li{list-style: none;}
html,body {height:100%; width: 100%;}
body {color: #333;background:#f0f3ef;overflow-x: hidden;
       font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;}
img{display: block;}
a {text-decoration:none;}
a:hover {color:#c81623;}
html,body,h1,h2,h3,h4,h5,ul,li,div,p,ol,figure,section,aside,header,article,footer{margin: 0; padding: 0;}
.elip{overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}

.jiantou{font-size: 20px;    line-height: 40px; color: hsla(0,0%,100%,.4);margin-left: -6px;}

//字体图标
@font-face{font-family:iconfont;
src:url(../fonts/iconfont.eot?#iefix) format("embedded-opentype"),
url(../fonts/iconfont.woff) format("woff"),
url(../fonts/iconfont.ttf) format("truetype"),
url(../fonts/iconfont.svg) format("svg")}

@font-face{font-family:impact;src:url(../fonts/impact.eot);src:url(../fonts/impact.eot?#iefix) format("embedded-opentype"),url(../fonts/impact.woff) format("woff"),url(../fonts/impact.ttf) format("truetype"),url(../fonts/impact.svg) format("svg");font-weight:400;font-style:normal}

.iconfont {
    font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon_price {
    font-family: 'impact', sans-serif;
    display: block;
    height: 38px;
    line-height: 38px;
}

//浮动清除类
.clear:after{content: '';display: block;clear: both; width: 0;height: 0; overflow: hidden;}


header{width: 100%; margin: 0 auto;}

//最上面的广告
.header_AD{width: 100%; overflow: hidden;
        background-color: #484aae;
        a{
            display: block; margin: 0 auto;width: 1190px;
        }
}

//头部灰色导航条
.header {background:#e3e4e5; font-size: 12px; position: relative;
    .wrap { height:31px; width:1107px; margin: 0 auto;
    
        .header_left{float: left; overflow: hidden;
            a{color: #999; line-height: 31px; &:hover{color: #e30000;}}
            div{float: left; margin-left: 8px;}
            i{font-size: 14px;}
            .goindex i{background: url(../images/goindex.png) no-repeat; width: 20px; height: 18px; display: inline-block; transform: translateY(4px);}
        }
        
        
        ul {float:right; display:flex; width:791px; justify-content:flex-end;
                li {padding:0 15px; margin-top: 6px;}
                .disan {position:relative; padding-right:20px; width:41px; height:16px;}
                li:nth-child(3) a:nth-child(1) {position:absolute; z-index:11;}
                
                
                //触发二级导航
                 .blank { height:22px; width:85%; background:#fff; position:absolute; left:7px; top:-4px; border:1px solid #ccc; box-shadow:0 -3px 3px #ccc; border-bottom:none; z-index:10; display:none;}
                 .amazingbox { position:absolute;box-shadow:0 0 3px #ccc; width:280px; height:167px; background:#fff; left:7px; top:18px;border:1px solid #ccc; z-index:9; display:none;}
                 .amazingbox ul { display:block;float:none; width: 100%;padding:10px 15px;}
                 .amazingbox ul:last-child {margin-right:0;}
                 .amazingbox ul .amazingboxli { width: 126px; float: left;padding: 0; border: 0; span{color:#e33333;}}
                 .amazingbox a{color: #999!important;}
                 .amazingbox ul:first-of-type{border-bottom: 1px #eee solid;}
                 //.amazingbox li{margin-top: 0;}
                 
                 li:nth-child(4):hover .amazingbox{display: block;}
                 li:nth-child(4):hover .blank{display: block;}
                 li:nth-child(4) i{ margin-top: -1px;position: relative; z-index: 20;}
                 li:nth-child(4) a {position: relative; z-index: 20;}
                 a:hover{color: #e33333;}
                 //.disan .sanjiao {content:""; display:block; border-width:8px,8px,0px,8px; border-color:black transparent transparent transparent; border-style:solid; width:0; height:0; position:absolute; right:0; top:43%; margin-right:6px; z-index:11;  transform-origin:50% 30%;}
                li:nth-child(4) {position:relative; padding-right: 10px;}
                //三角形
                //li:nth-child(4):after {content:""; display:block; border-width:5px,5px,0px,5px; border-color:#999 transparent transparent transparent; border-style:solid; width:0; height:0; position:absolute; right:0; top:50%; margin-right:6px;}
                a {color:#999;}
                li:first-child a{color:#f10215;}
                li:first-child a:hover {text-decoration:underline;}
                li:first-child+li a {color:#f10215;&:hover{text-decoration:underline;}}
                li:first-child~li {border-right:1px #d5d5d5 solid;}
                .last{ width:124px; height:16px; background:url(../image/mingxieku/default_icon_bg.png) no-repeat -314px -64px;}
                li:nth-child(6) a{display:flex;}
            }
     }
     .logo{width: 190px; height: 170px;background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png) no-repeat;
            position: absolute; top: 0; left:80px;box-shadow: 0 -12px 10px rgba(0,0,0,.2);background-color: #fff;
            border-bottom: 1px solid #ededed; z-index: 2;}
}


//搜索框
.form{ width: 550px;}
.search{margin-left: 400px; margin-top: 25px; display: flex; position: relative;
        .form{position: relative;}
        .hotwords{ margin-top: 8px; float: left;}
        .hotwords .first{color: #f10215;    margin-right: 18px;}
        .hotwords a{color: #999; margin-right: 8px;&:hover{color: #c81623;}}
        .camera {background: url("https://misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png");
                display: block;width: 19px; height: 15px; cursor: pointer; position: absolute; right: 70px; top: 9px;
                &:hover{background-position: -30px 0;}}
        .logo2{display: none;}
     }
.search_text{padding: 4px 44px 4px 4px ; width: 450px; height: 25px; border: 0; font-size: 14px;    line-height: 25px; outline: 0; float: left;border: 1px solid transparent;} 
.search_submit{width: 50px; height: 35px; margin-left: -3px; padding: 0; border: 0; 
               background: #f10215; display: block; float: left; cursor: pointer;
            .fdj{font-size: 20px;font-weight: 700;color: #fff; line-height: 35px;}
         }

//购物车
.shop_hoverbox{width: 191px; height: 34px; margin-left: 30px;}

.shop_hoverbox:hover .shop{border-bottom: 0;border-color:#ccc;}
.shop{width: 190px; height: 33px; background: #fff; text-align: center;line-height: 33px;
        border: 1px solid #e3e4e5;position:relative; z-index: 200;
        
     a{color: #f10214;}
     .sum{display: inline-block;width: 14px; height: 14px; border-radius: 50%; background: #f10215; color: #fff;line-height: 14px; margin-top: -5px; transform: translateY(-5px);}

    }
 .empty_content{
                display: none;
                width: 308px;
                height: 49px;
                padding: 10px 0;
                text-align: center;
                line-height: 49px;
                overflow: hidden;
                color: #999;
                position: absolute;
                box-shadow: 1px 2px 1px rgba(0,0,0,.1); border: 1px solid #ccc;
                background: #fff;
                right: 177px;
                top: 33px;
                i{display: inline-block; background: url("https://img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png") no-repeat; width: 56px; height: 49px; vertical-align: middle;}
       }
     
.full_content{
    @extend .empty_content; padding: 6px 8px; height: auto!important; z-index: 100!important;line-height: 1.5;
    h4{width: 292px; height: 25px;  text-align: left;}
    ul{overflow: auto;max-height:350px;}
    li{height: 68px;padding-top:10px;padding-left:5px;  &:hover{background: #eee;}
        figure{float: left; border:1px #eee solid; img{width: 50px; height: 50px;}}
        p{float: left;width: 140px;text-align: left;height: 52px; overflow: hidden; margin-left: 8px; a{color: #999;}}
        b{float: right; margin-right: 10px;}
    }
    .goshop{
        height: 34px;
        a{width: 60px; height: 30px; text-align: center; display: block; float: right; color: #fff; background: #e4393c;font-weight: 700; line-height: 30px; border-radius: 3px; margin-top: 5px; margin-right: 5px; padding: 0 8px;}
    }
}

//底部黑色导航
nav {margin-left: 295px; margin-top: 20px;height: 40px; width: 1054px;
        ul{overflow: hidden; float: left;
            li{float: left; padding: 0 15px; height: 40px;font-size: 14px; color: #333; line-height: 40px;}
            li a {color: #333;}
            }
      .treasure{background: url(https://img14.360buyimg.com/da/jfs/t1/967/28/6410/11461/5ba1fe83Ea17efaad/729d8a4a505072b9.png);width: 190px; height: 40px; display: block; float: left;
             margin-top: -9px;}
    }
    

//顶部悬浮搜索框
.searchFloat{
    position:fixed;
    transition: height 0.5s;
    height: 0;
    z-index: 999;
    top:0;
    margin:0;
    padding:6px 0 6px 400px;
    width:1349px;
    background:#fff;
    border-bottom: 2px solid #f10214;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    .search_text{background: #efefef;}
    .searchFloat_logo{position: absolute;width: 125px; height: 40px; left: 82px; top: 2px; background: url("https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png") no-repeat -195px 0;}
    
}
.hidden{height: 35px;}

.searchTips{display: none;
    position: absolute;width: 495px; background: #fff;border: 1px #ccc solid; top: 36px;z-index: 999;box-shadow: 1px 2px 1px rgba(0,0,0,.2);
    a{display: block; line-height: 24px; color: #666; text-indent: 10px;&:hover{background: #eee;}}
    i{float: right; margin-right: 8px; color: #999; font-style: normal;}
}
