*{margin: 0; padding: 0;}
li{list-style: none;}
html,body {height:100%; overflow-x: hidden;}
body {font-family: Arial,Helvetica,sans-serif;font-size: 12px;color: #333;background:#f0f3ef;}
img{display: block;}
a {text-decoration:none;}
a:hover {color:#c81623;}
.clear:after{content: '';display: block;clear: both; width: 0;height: 0; overflow: hidden;}

header{width: 1350px; margin: 0 auto;}
.header_AD{
	    background-color: #484aae;
}
.header_AD a{
	display: block; margin: 0 auto;width: 1190px;
}
.toolbar_wrap{
	position: fixed; right: 17px; height: 100%; z-index: 999; top: 0;
}
.toolbar_wrap .toolbar_right{
	height: 100%; width: 6px; background: #7a6e6e;
}


.header {background:#e3e4e5; font-size: 12px; position: relative;}
.header .wrap { height:31px; width:1107px;}
.header .wrap ul {float:right; display:flex; width:791px; justify-content:flex-end;}
.header .wrap ul li {padding:0 15px; margin-top: 7px;}
.header .wrap ul .disan {position:relative; padding-right:20px; width:41px; height:16px;}
.header .wrap ul li:nth-child(3) a:nth-child(1) {position:absolute; z-index:11;}
.header .wrap ul li:nth-child(3) .blank { height:22px; width:100%; background:#fff; position:absolute; left:0; top:-4px; border:1px solid #ccc; box-shadow:0 -3px 3px #ccc; border-bottom:none; z-index:10; display:none;}
.header .wrap ul li:nth-child(3) .amazingbox { position:absolute;box-shadow:0 0 3px #ccc; width:182px; height:100px; background:#fff; left:-85px; top:18px;border:1px solid #ccc; z-index:9; padding:12px; box-sizing:border-box; padding-left:20px; display:none;}
.header .wrap ul li:nth-child(3) .amazingbox ul {height:100%; display:block; width:40%; float:left; margin-right:22px;}
.header .wrap ul li:nth-child(3) .amazingbox ul:last-child {margin-right:0;}
.header .wrap ul li:nth-child(3) .amazingbox ul .amazingboxli {background-image:none; padding:3px 15px 3px 0; border-bottom:1px #666 dotted;box-sizing:border-box; height:33.3%; border-right:0;}
.header .wrap ul li:nth-child(3) .amazingbox ul li:hover { background:rgba(255,153,0,.5);}
.header .wrap ul li:nth-child(3) .amazingbox ul .amazingboxli a {color:#000;}
.header .wrap ul li:nth-child(3) .amazingbox ul .amazingboxli a:hover {color:#f00; text-decoration:underline;}


.header .wrap ul .disan .sanjiao {content:""; display:block; border-width:8px,8px,0px,8px; border-color:black transparent transparent transparent; border-style:solid; width:0; height:0; position:absolute; right:0; top:43%; margin-right:6px; z-index:11;  transform-origin:50% 30%;}
.header .wrap ul li:nth-child(4) {position:relative;padding-right:20px; }
.header .wrap ul li:nth-child(4):after {content:""; display:block; border-width:5px,5px,0px,5px; border-color:#999 transparent transparent transparent; border-style:solid; width:0; height:0; position:absolute; right:0; top:50%; margin-right:6px;}
.header .wrap ul li a {color:#999;}
.header .wrap ul li:first-child a{color:#f10215;}
.header .wrap ul li:first-child a:hover {text-decoration:underline;}
.header .wrap ul li:first-child+li a {color:#f10215;}
.header .wrap ul li:first-child+li a:hover {text-decoration:underline;}
.header .wrap ul li:first-child~li {border-right:1px #d5d5d5 solid;}
.header .wrap ul .last{ width:124px; height:16px; background:url(../image/mingxieku/default_icon_bg.png) no-repeat -314px -64px;}
.header .wrap ul li:nth-child(6) a{display:flex;}
.header .logo{width: 190px; height: 170px;background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png) no-repeat;
			position: absolute; top: 0; left:80px;box-shadow: 0 -12px 10px rgba(0,0,0,.2);background-color: #fff;
			border-bottom: 1px solid #ededed;}

.search{margin-left: 400px; margin-top: 25px; display: flex; position: relative;}
.search_text{padding: 4px 44px 4px 4px ; width: 450px; height: 25px; border: 0; font-size: 14px;    line-height: 25px; outline: 0; float: left;border: 1px solid transparent;} 
.search_submit{width: 50px; height: 35px; margin-left: -3px; padding: 0; border: 0; background: #f10215; display: block; float: left;}
.search .hotwords{ margin-top: 8px; float: left;}
.search .hotwords .first{color: #f10215;    margin-right: 18px;}
.search .hotwords a{color: #999; margin-right: 8px;}
.search .hotwords a:hover {color: #c81623;}

.shop{width: 190px; height: 33px; background: #fff; text-align: center;line-height: 33px;border: 1px solid #e3e4e5;margin-left: 30px;}
.shop a{color: #f10214;}

nav {margin-left: 295px; margin-top: 20px;height: 40px;}
nav ul {overflow: hidden; float: left;}
nav ul li{float: left; padding: 0 15px; height: 40px;font-size: 14px; color: #333; line-height: 40px;}
nav ul li a {color: #333;}
nav .treasure{background: url(https://img14.360buyimg.com/da/jfs/t1/967/28/6410/11461/5ba1fe83Ea17efaad/729d8a4a505072b9.png);width: 190px; height: 40px; display: block; float: left;
			 margin-top: -9px;}

.fs{padding:5px 79.5px; position: relative; width:1191px; margin: 0 auto;}
.fs .left{position: absolute; display: flex; z-index: 2; left: -170px; cursor: pointer;}
.fs .left a{display: block; width: 0; overflow: hidden; transition: all 0.3s;}
.fs .left:hover a{ width: 790px;}

.fs_col1{width: 190px; height: 480px; background: #fff; margin-top: -9px;color: #636363; float: left; margin-right: 10px;}
.fs_col2{width: 590px; height: 470px; overflow: hidden; position: relative;float: left; margin-right: 10px;}
.fs_col2 figure{width: 1000%; height: 100%; position: absolute; display: flex;}
.fs_col2 img{
	display: block; width: 590px; height: 100%;
}
.fs_col2 button{background: rgba(0,0,0,0.2); border: 0; outline: 0;width: 24px; height: 40px; position: absolute; top: 45%; cursor: pointer;}

.fs_col2 .gonext{
	 right: 0;
}
.fs_col2 li {
	width: 18px; height: 18px; border-radius: 50%; position: relative;
}
.fs_col2 li:after{content:"";display: block;width: 6px; height: 6px;border-radius: 50%;border:2px solid #b9beba;
	cursor: pointer; border-color: hsla(0,0%,100%,.4); position: absolute; left: 4px; top:4px;}
	
.fs_col2 ul{
	position: absolute;bottom: 10px; display: flex; width: 152px; justify-content: space-around;
	left:46px;
}
.fs_col2 .focus{
	background: hsla(0,0%,100%,.2);
}
.fs_col2 .focus:after{background: #fdd9dd;}

.fs_col3{float: left; margin-right: 10px;}
.fs_col3 a {width: 190px; display: block;}
.fs_col3 figure{width: 190px; height: 150px; margin-bottom: 10px;}
.fs_col3 figure:hover {opacity: 0.8;}

.fs_col4{width: 190px; height: 470px; float: left; background: #fff;}
.fs_col4 .user{ padding-top: 62px; position:relative; height: 78px; text-align: center;}
.fs_col4 .head_photo {position: absolute;left: 50%;top: -10px;margin-left: -34px;width: 65px;height: 65px; border-radius: 50%;}
.fs_col4 .head_photo a{display: block; width: 55px; height: 55px;border: 5px solid #e3e1df; border-radius: 50%;    box-shadow: 3px 6px 25px #c3c3c3;}
.fs_col4 .head_photo a img {width: 100%; height: 100%; border-radius: 50%;}

.fs_col4 .user_sl {}
.fs_col4 .user_sl a:not(.quit){display: inline-block; width: 20px; height: 20px;}
.fs_col4 .user_sl a i{display:block;width: 20px; height: 20px; background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.user.png) no-repeat;}
.fs_col4 .user_sl a:nth-child(1) i{ background-position: -111px -21px;}
.fs_col4 .user_sl a:nth-child(2) i{ background-position: -136px -46px;}
.fs_col4 .user_sl .quit{ display:inline-block; transform: translateY(-5px);}

.fs_col4 .plus {width: 150px;padding: 0 5px;margin:5px auto;height: 25px;line-height: 25px;font-size: 12px;text-align: center;border-radius: 13px;transition:all 0.8s ease; box-shadow: 6px 8px 20px rgba(45,45,45,.15);}
.fs_col4 .plus a {color: #e43f3b;white-space: nowrap;}
.fs_col4 .plus:hover{background: #e01222;}
.fs_col4 .plus:hover a {color: #fff;}

.sk .wrap{margin: 20px auto; width: 1190px;height: 275px; }
.sk_header {
	width:190px; height: 233px; background: #e83632; padding-top: 42px;color: white;text-align: center;float: left;
}
.sk_header h2{
	font-size: 34px; font-weight: normal;
}
.sk_header h3{
	font-size: 20px; opacity: 0.5;
}
.sk_header i{
	width: 20px; height: 33px; background: url(img/sprite.seckill.png) -35px -25px;
	display: block; margin: 15px auto;
}
.sk_header .timer{
	width: 135px; margin: 16px auto;
}
.sk_header .timer div{
	width: 40px; height: 40px;background: #2f3430; float: left; margin-left: 4px;
	line-height: 40px;font-weight: bold;font-size: 20px;
}
.sk_body {float: left;}
.sk_body .sk_item{width: 200px;height: 275px; background: #FFFFFF; position: relative; overflow: hidden;}
.sk_body .sk_item a{display: block; padding-top: 35px;}
.sk_body .sk_item img {margin: 0 auto 15px;}
.sk_body .sk_item:after{content: '';display: block;position: absolute;top: 0;right: 0;width: 1px;height: 275px;background: #f0f0f0;}
.sk_body .sk_item p{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;    padding: 0 15px; color: #666;font-size: 12px; text-align: center;}
.sk_body .sk_item .price{ margin:20px auto 0; width: 160px; height: 20px; border: 1px #e6382f solid; line-height: 20px;font-size: 14px; font-weight: bold;}
.sk_body .sk_item .price span{display: block; background: #e6382f; color: #fff; width: 50%; float: left;}
